.header-container{
    min-height: 60px;
    box-shadow: 1px 1px 6px 0px grey;
    display: flex;
    .header-item{
        display: flex;
        align-self: center;
        margin: 8px 0px 8px 10px;
        padding: 9px;
        cursor: pointer;
    }
    .header-item:hover, .active-item{
        box-shadow: 1px 1px 6px 0px grey;
    }
    .item:focus {
        outline: none;
    }
    
}