.actor-component-container{
    height: 100%;
    box-shadow: 1px 1px 13px 0px grey;
    margin: 15px;
    border-radius: 5px;
    cursor: pointer;
    .actor-img{
        margin: 15px;
        height: 150px;
    }
}