<div class="movie-details">
    <div class="" *ngIf="movie">
        <div class="section">
            <div class="movie-poster">
                <img class="movie-img movie-poster" [src]="movie.poster_path?'https://image.tmdb.org/t/p/w500'+movie.poster_path:''" />
            </div>
            <div class="inner-section">
                <span class="bold">Title:</span>
                <span class="text">{{movie.title}}</span>
            </div>
            <div class="inner-section">
                <span class="bold">Overview: </span>
                <span class="text"> {{movie.overview}} </span>
            </div>
            <div class="inner-section">
                <span class="bold">Release date: </span>
                <span class="text"> {{movie.release_date}} </span>
            </div>

            <div class="inner-section">
                <span class="bold">Runtime: </span>
                <span class="text"> {{movie.runtime}} </span>
            </div>
        </div>

        <div class="section">
            <div class="title">
                Cast Members
            </div>
            <div class="flex-container">
                <div class="flex-member" *ngFor="let member of credit.cast" [routerLink]="'/actor/'+member.id">
                    <div class="member-img">
                        <img class="member-img" [src]="member.profile_path?'https://image.tmdb.org/t/p/w500'+member.profile_path:''" />
                    </div>
                    <div>
                        <span class="bold">Character: </span>
                        <span class="text"> {{member.character}} </span>
                    </div>
                    <div>
                        <span class="bold">Name: </span>
                        <span class="text"> {{member.name}} </span>
                    </div>
                </div>
            </div>
        </div>

        <div class="section">
            <div class="title">
                Keywords
            </div>
            <div class="flex-container">
                <div class="flex-member" *ngFor="let keyword of keywords.keywords">
                    <div>
                        {{keyword.name}}
                    </div>
                </div>
            </div>
        </div>

        <div class="section">
            <div class="title">
                Videos
            </div>
            <div class="flex-container">
                <div class="flex-member" *ngFor="let video of videos.results">
                    <div class="inner-section">
                        <span class="bold">Video Name: </span>
                        <span class="text"> {{video.name}} </span>
                    </div>
                    <div class="inner-section">
                        <span class="bold">Video Site: </span>
                        <span class="text"> {{video.site}} </span>
                    </div>

                </div>
            </div>
        </div>


    </div>
</div>