.search-container{
    .search-input{
        width: 99%;
        margin: 15px 0px 7.5px 0px;
        padding: 5px;
        border-radius: 5px;
        border: solid 1px grey;
        outline: none;
    }
}