.actor-container{
    padding: 0px 15px;
    height: calc(100% - 60px);
    .actors{
        display: flex;
        height: calc(100% - 120px);
        justify-content: space-between;
        flex-wrap: wrap;
        overflow: auto;
        margin: 6px 0px;
        .actor-item{
            width: 30%;
            height: 200px;
            margin: 10px 0px;
        }
    }
    .show-more{
        display: flex;
        align-items: center;
        height: 55px;
        .show-more-text{
            cursor: pointer;
            border-radius: 42px;
            box-shadow: 1px 1px 4px 0px grey;
            padding: 5px 15px;
            
        }

    }
}