<div class="actor-container">
    <app-search (searchText)="searchTextChange($event)" [placeholder]="placeholder"></app-search>
   
    <div class="actors" *ngIf="actors"> 
        <div class="actor-item" *ngFor="let actor of actors.results">
            <app-actor [actor]="actor" [routerLink]="'/actor/'+actor.id"></app-actor>
        </div>
    </div>

    <div class="show-more" (click)="showMore()" *ngIf="enableShowMore">
            <div class="show-more-text">
                show more
            </div>
        </div>
</div>